<h1 class="page-header">
  Subscription Plans
  <%= link_to 'New', new_admin_subscription_plan_path, class: 'btn btn-primary' %>
</h1>
<table class="table table-striped table-projects">
  <thead>
    <tr>
      <th>Name</th>
      <th>Interval</th>
      <th>Amount</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @subscription_plans %>
  </tbody>
</table>
