<div class="contact-us">
  <div class="container">
    <h1>SPONSORSHIP</h1>
  </div>
</div>
<div class="container">
  <div class="col-lg-12" style="color:black;">
    <p>Thank you for your consideration in moving a greater cause forward. Because of your ability to sonsor projects, you allow the world to take one collective step toward a sustainable future for generation to come. You are part of the millions that sacrifice their self-interest for the greater good of the Earth.</p><br>
    <p>IF there is a project that grabs your attention, that you truly belive in, and that you want to see come to fruition, we make it possible for you to sponsor that project. As a sponsor, you'll enjoy the benefir of moving one bright idea toward reality, as well as:</p><br>
    <ul type="disc" style="margin-left: 81px;">
      <li><b style="font-size:30px">•</b><div style="margin-top: -27px; margin-left: 17px;">Joining a community where you can find unlimited talent and network with future entrepreneurs and innovators</div></li>
      <li><b style="font-size:30px">•</b><div style="margin-top: -27px; margin-left: 17px;">Your brand will be recognized via banners, promotional materials, and notoriety displayed by Green X</div></li>
      <li><b style="font-size:30px">•</b><div style="margin-top: -27px; margin-left: 17px;">By sponsoring Green X, you do your part of pushing corporate social responsibility forward. You make the community a better place simply by being part of it and fostering these ideas.</div></li>
    </ul>
    <br>
  </div>
</div>