<div class="join-section">
  <div class="container">
    <h1>Join The Movement</h1>
  </div>
</div>
<br><br>
<section class="price-plan" id="price-plan">
	<div class="container">
		<div class="row">
			<!-- Ends: .section-header -->
			
			<div class="col-sm-12 price-table-wrapper">
				<div class="row">
				<div class="col-lg-2"></div>
           <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
						<div class="price-singles">
							<h4>Lifetime & Book <br><span>Membershp</span></h4>
							<div class="price-content">
								<ul class="list-unstyled">
									<li><i class="fa fa-check" aria-hidden="true"></i>Vote in Every Contest</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Enter Contests</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Participate in Forums</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>A copy of "Go Green Get Rich"</li>
								</ul>
								<p>from <span>$26.95</span></p>
								<%= link_to 'Lifetime Membership', products_path, class: "order-btn" %>
							</div>
						</div>
					</div><!-- Ends: .col-sm-4 -->
					<div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                    
						<div class="price-singless">
							<h4>Month-To-Month<br><span>Membershp</span></h4>
							<div class="price-content">
								
								<ul class="list-unstyled">
									<li><i class="fa fa-check" aria-hidden="true"></i>Vote in only one Contest</li>
									<li><span style="color:#c0c0c0 !important; margin-left: 22px;">Enter Contests </span></li>
									<li><span style="color:#c0c0c0 !important; margin-left: 22px;">Participate in Forums</span></li>
									<li><span style="color:#c0c0c0 !important; margin-left: 22px;">A copy of "Go Green Get Rich"</span></li>
								</ul>
                <p>from <span>$2.99</span></p>
                <%= link_to "Monthly Memership", new_subscription_path, class: 'order-btn' %>
							</div>
						</div>
					</div>
					<!-- Ends: .col-sm-4 -->
					<div class="col-lg-2"></div>
					<!-- Ends: .col-sm-4 -->
				</div>
			</div><!-- Ends: .price-table-wrapper -->
		</div>
	</div>
</section>


<div class="go_green_ger_rich">
	<div class="container">
    	<div class="col-lg-12">
        <div class="col-lg-5"><br><br><br><%= image_tag "book2x.png", style:"max-width: 150%;
    margin-left: -70%;" %> <br><br><br></div>
        <div class="col-lg-1"></div>
        		<div class="col-lg-6" style="color:white"><br><br><br>
                <div><h1>Go Green, Get Rich</h1> <span>by Thomas Addaquay</span>
                </div>
                	<p><i>Go Green, Get Rich</i> is a compelling call to action for the development of environmental technologies as a global economic driver. The book first provides a synopsis for the history of western wealth, followed by a discussion of the financial aspects of environmental technology. It then goes on to discuss the economic, political, and educational challenges facing the industry—or the “Green Conundrum.” By exploring key issues in order to accelerate widespread adoption of green environmental technologies—rising above special interest groups, improving labor practices, instituting research and development protocols, and establishing distribution channels—the author inspires the reader to take action.</p><p><i>Go Green, Get Rich</i> is much more than a case study. It encourages readers to participate in the green economy by joining Green X Prize, a brand new online community of members, where they can interact with other like-minded global citizens. Readers also gain access to enter monthly contests where monthly winners of a $10,000 cash prize are chosen through a simple, secure and transparent vote. Green X Prize is for anyone concerned with solving an existing problem using clean energy and sustainable technology to preserve the planet.</p><br><br><br>
                
         </div>
        </div>
    </div>

</div>

<div class="about-authr">
	<div class="container">
    	<div class="col-lg-12" >
		    <div class="col-lg-2"></div>
		    <div class="col-lg-3">
		    <br><br><br><br><br>
		      <div class="team-member1 book-description">
		          <%#= image_tag "1.png", alt: "img", class: "img-responsive ps-rel" %>
		          <%= image_tag "authr.png" %>
		        <h4  style="color:black">Entrepreneur<br><br> Author<br><br> Philanthropist</h4>
		      </div>
		    </div>
        <div class="col-lg-6">
          <div><h1 style="color:black">About The Author</h1> <span>by Thomas Addaquay</span>
                </div>
                	<p>Thomas Addaquay is an entrepreneur, author, and philanthropist by profession with a vision for mentoring aspiring entrepreneurs seeking to create their own businesses.He holds  a bachelor's  in economics with a concentration in computer science   from Luther College in Iowa. He is a current fellow of the University of Liverpool Management School where he is pursuing a DBA, along with completing his MBA.</p>
                       	<p>His entrepreneurial pursuits have ranged from software, real estate, and publishing his first book on sustainability titled Go Green, Get Rich. To further incentivize his book, he founded Green X Prize which encourages like-minded global citizens to participate in the green economy. His vision has been and continues to be harnessing the creative and entrepreneurial energies of the worlds youth and the future custodians of the planet by collaborating in the creation and implementation of innovative sustainability-centric ideas and endeavors.</p>
        
        
        </div>
        </div>
    </div>

</div>