<div class="creator">
  <%= attachment_image_tag creator, :image, :fill, 150, 150 %>
  <div class="creator-info">
    <p class="creator-name"><%= creator.name %></p>
    <p class="creator-bio"><%= creator.bio %></p>
  </div>
  <div class="clearfix"></div>
</div>
