<div class="project-details">
  <div class="container">
    <h1>EDIT YOUR PROJECT</h1>
  </div>
</div>
<div class="book-background">
  <div class="container user-form">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div id="edit-project" class="generic-form has-image">
          <%= render 'steps', step: 1 %>
          <hr><hr><hr>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
