<tr>
  <td><%= sponsor.name %></td>
  <td class="text-right">
    <%= link_to 'Edit', edit_admin_sponsor_path(sponsor) %>
    &nbsp; / &nbsp;
    <%= link_to 'Show', admin_sponsor_path(sponsor) %>
    &nbsp; / &nbsp;
    <%= link_to 'Delete', admin_sponsor_path(sponsor), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
