<p>Hello,</p>
<p>
  You have been invited to join the project <%= @project %> on Green X Prize!
</p>
<p>
  Already purchased the book? Sign up here: <%= @sign_up_url %>.
</p>
<p>
  Otherwise, purchase the book now to get your sign up code: <%= @purchase_url %>
</p>
