<div class="join-section">
  <div class="container">
    <h1>Edit Shipping Address</h1>
  </div>
</div>
<div class="book-background">
  <div class="container user-form">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render partial: 'address_form' %>
      </div>
    </div>
  </div>
</div>
