<div class="join-section">
  <div class="container">
    <h1>Shipping Address</h1>
  </div>
</div>
<div class="book-background"><br>
  <div class="container" >
    <div class="row">
      <div class="col-md-7 col-md-offset-3">
      	<div class="row">
          <div><strong>Shiping Charges Detail as per Continents:</strong></div>        
      		<div class="col-md-6">North America, Europe</div>
					<div class="col-md-6">$15.00</div>
      	</div>
      	<div class="row">
      		<div class="col-md-6">Asia, Australia, Africa</div>
					<div class="col-md-6">$25.00</div>
      	</div> 
      	<div class="row">
      		<div class="col-md-6">South America</div>
					<div class="col-md-6">$6.00</div>
      	</div>
      </div>
    </div>
  </div><br>
<div class="book-background">
  <div class="container user-form">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render partial: 'address_form' %>
      </div>
    </div>
  </div>
</div>
