// Define any app variables that you will re-use
$brand-primary:         #006633 !default; // #337ab7
$brand-success:         #66cc33 !default;
$bg-color: #f6f6f6;
$font-color-light: #5b5e5d;
$font-color-dark: #505050;
$input-border-color: #7a7a7a;
$state-danger-text: #ac2927;

$padding: 15px;
$header-height: 92px;
$footer-height: 262px;
// $navbar-height: $header-height;
$border-radius: 4px;

$font-family-sans-serif: 'Open Sans', sans-serif, 'Times', Helvetica, Arial, 'Lucida Grande', sans-serif;
$line-height-base: 1.6;
$headings-font-weight: 700;
$font-size-h1: 3.5em;
$font-size-h2: 1.5em;
$font-size-h3: 1.3em;

$navbar-collapse-max-height: 400px;
