<h1 class="page-header">
  Tests
  <%= link_to 'New', new_admin_test_path, class: 'btn btn-primary' %>
</h1>
<table class="table table-striped table-tests">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
